
.div-container{
   display: flex;
   flex-wrap: wrap;
    flex-direction: row;
    width: 110vh;
    height: 100vh;
    
    justify-content: center;
}

.grid-items{
    color: aqua;
    background-color: rgb(11, 231, 22);
    border: 1px solid blue;
   width: calc(100% / 16);
   height: calc(100% / 16) ;
   box-sizing: border-box;
   text-align: center  ;
   
}
