body{
    background-color: black;
}

#sketchArea {
    margin: 50px auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(63, 175, 175);
    justify-content: space-between;

}
